* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* TIPOGRAFÍA */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* MOBILE FIRST*/

/* HEADER */



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

nav {
    display: none;
}

.orange-button {
    width: 134px;
    height: 44px;
    background-color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    cursor: pointer;
}

header .orange-button {
    display: none;
}

/* MAIN */


/* HOME SECTION*/

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    gap: 30px;
    margin-bottom: 400;
}

.home img {
    width: 100%;
}

.bottom-container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottom-container-home h1 {
    font-weight: 700;
    color: #232C50;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 15px;
    text-align: center;

}

.bottom-container-home p {
    color: #B3B2B7;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
}



/*SOBRE NOSOTROS SECTION */

.sobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 100px 5% 60px;
}

.top-sobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.top-sobreNosotros h2 {
    color: #232C50;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.top-sobreNosotros p {
    color: #B3B2B7;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.containersSN {
    width: 95vw;
    margin-left: 5vw;
    margin-bottom: 35px;
}

.title-containersSN {
    background-color: rgb(255, 239, 234);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.containersSN p {
    color: #B3B2B7;
    font-size: 0.938rem;
    line-height: 1.5rem;
    width: 95%;
    margin-top: 15px;
}

.title-containersSN h3 {
    color: #232C50;
    font-weight: 700;
    font-size: 0.938rem;
    line-height: 1.5rem;
}

.button-containersSN {
    width: 69px;
    height: 43px;
    border-radius: 30px;
    box-shadow: 0;
    font-size: 1rem;
    padding: 10px 25px;
    cursor: default;
}

.c3-SN {
    margin-bottom: 0px;
}

/* SECTION TESTIMONIOS*/

.testimonios {
    width: 90vw;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.testimonios h2 {
    color: #232C50;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 75px;
}

.flexContainer-avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-avatar img {
    width: 20%;
    position: absolute;
    bottom: 85%;
}

.bottom-container-avatar {
    background-color: #FAFAFA;
    padding: 20% 7.5% 10%;
}

.bottom-container-avatar p {
    color: #B3B2B7;
    font-size: 0.938rem;
    line-height: 1.5rem;
    margin-top: 20px;

}

.bottom-container-avatar h3 {
    color: #232C50;
    font-weight: 700;
}

.bottom-container-avatar h3,
.bottom-container-avatar p {
    text-align: center;
}

.c1-testimonios,
.c3-testimonios {
    display: none;

}

/* BUTTON SLIDERS (simulacion) */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #FFFFFF;
    gap: 2px;
}

.buttons-slider {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid #F3603B;
}

.active-buttons-slider {
    background-color: #F3603B;
}


/* BUTTON IN BOTTOM MAIN */

.container-button-bottomMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

/* PREFOOTER SECTINO */

.prefooter {
    background-color: #F3603B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25% 10%;
    margin-top: 50px;
    gap: 25px;
}

.prefooter h2 {
    font-size: 2.25rem;
    color: #FFFFFF;
    text-align: center;

}

.button-prefooter {
    color: #F3603B;
    background-color: rgb(255, 255, 255);
}

/* FOOTER  */

footer {
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 25px;
}

/*FORM FOOTER */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.email {
    width: 255px;
    height: 44px;
    border-radius: 50px;
    padding: 12.5px 48px 12.5px 16.5px;
    border-color: #FFFFFF;
    border: 0px;

}

.pseudo-elemento{
    display:none;
}

.button-footer {
    width: 73px;
    height: 42px;
    padding: 11.5px 25.5px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}


/* DIV LINKS*/

.column-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin: 10% 15%;
    margin-bottom: 7, 5%;
}

.right-column-links {
    align-self: flex-start;
}

.column-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}

.column-links ul li {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.column-links ul li:hover {
    color: #F3603B;

}

/*REDES SOCIALES */

.redes-sociales-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-socials {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.socials {
    width: 1.8rem;
    cursor: pointer;
}

.socials:hover {
    filter: brightness(0) saturate(100%) invert(45%) sepia(55%) saturate(1836%) hue-rotate(337deg) brightness(98%) contrast(95%);
}

.logo-footer {
    margin-top: 2.5rem;
}

/*COPYRIGHT */
.copyright {
    margin-top: 2.5rem;
    font-size: 0.813rem;
    color: #8C8C94;
}





/*RESOLUCION DE MI PANTALLA */

@media (min-width:1366px) {

    /* HEADER */

    header {
        justify-content: space-around;
        margin-bottom: 80px;
    }


    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 28px;
        list-style: none;
    }

    nav ul li {
        color: #242E52;
        font-size: 13px;
        line-height: 19px;
        font-weight: 700px;
        cursor: pointer;
        transition: color 0.8s;
    }

    nav ul li:hover {
        color: rgba(36, 46, 82, 0.3);
    }


    .burger-menu {
        display: none;
    }

    header .orange-button {
        display: block;
        transition: all 1s;
    }

    .hover-button:hover {
        background-color: rgba(243, 96, 59, 0.7);
        color: rgb(249, 249, 249);

    }

    .hover2-button:hover {
        color: rgba(243, 96, 59, 0.5);
    }

    /* MAIN */

    /* HOME SECTION */

    .home {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        width: 80%;
        margin: 0 10%;
        height: 525px;
    }

    .bottom-container-home {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 25px;
    }

    .bottom-container-home h1 {
        font-size: 58px;
        line-height: 66px;
        text-align: left;
        margin: 0;

    }

    .bottom-container-home p {
        color: #000000;
        width: 70%;
        line-height: 24px;
        font-weight: 700;
        text-align: left;
        margin: 0;

    }

    /* SOBRE NOSOTROS SECTION */

    .sobreNosotros {
        flex-direction: row;
        width: 80%;
        margin: 0 10%;
    }

    .top-sobreNosotros {
        align-self: flex-start;
    }


    .top-sobreNosotros h2 {
        font-size: 2.25rem;
        line-height: 2.563rem;
        text-align: left;
        margin-bottom: 35px;
    }

    .top-sobreNosotros p {
        color: #000000;
        width: 70%;
        margin-right: 30%;
        line-height: 1.5rem;
        font-weight: 700;
        text-align: left;
    }

    .containersSN {
        width: 553px;
        height: 158px;
    }

    .title-containersSN {
        background-color: #FFFFFF;
    }

    .containersSN p {
        font-size: 1.019rem;
        line-height: 1.594rem;
        width: 72%;
        margin-left: 14%;
    }

    .c2-SN p {
        width: 76%;
    }

    /* SECTION TESTIMONIOS */

    .testimonios {
        margin-top: 130px
    }

    .testimonios h2 {
        margin-bottom: 110px;
        font-size: 2.438rem;
    }

    .flexContainer-avatar {
        flex-direction: row;
    }

    .c1-testimonios,
    .c3-testimonios {
        display: block;
    }

    .c1-testimonios img,
    .c3-testimonios img {
        left: 40%;
    }


    /* BUTTON SLIDERS */

    .slider {
        display: none;
    }

    .container-button-bottomMain {
        margin-top: 57px;
    }

    /* SECTION PREFOOTER*/

    /*No me gustaba como quedaba con space around, asi que cambien a space between y le di margenes a cada elemento 

    Saque padding y gap por herencia del mobile, le di un alto en base al figma para que me centre automicamente mediante
    flex*/


    .prefooter {
        flex-direction: row;
        justify-content: space-between;
        height: 225px;
        padding: 0;
        gap: 0;
    }

    .prefooter h2 {
        font-size: 2.5rem;
        width: 40%;
        margin-left: 10%;
        text-align: left;
    }

    .button-prefooter {
        margin-right: 165px;
    }


    /*FOOTER */

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
        height: 247px;
    }


    .redes-sociales-logo {
        justify-self: flex-start;
        flex-direction: column-reverse;
        gap: 4.7rem;
        height: 67px;
        width: 170px;
        margin-left: 10%;
    }

    .logo-footer {
        margin: 0;
    }

    .container-socials {
        width: 100%;
        gap: 0.813rem;
    }

    .socials {
        width: 1.25rem;
    }

    .column-links {
        width: 390px;
        height: 140px;
        margin: 0;
    }


    form {
        width: 272px;
        height: 48, 5px;
        align-self: flex-start;
        gap: 0.5rem;
        margin-right: 10%;
        position: relative;
        top: 1rem;
    }

    .email {
        width: 201px;
    }


    .copyright {
        position: absolute;
        bottom: 30px;
        right: 130px;



    }







}